.empty-team {
  display: block;
  width: 100%;
  padding: 5px;
  border: 2px dashed grey;
  border-radius: 5px;
  text-align: center;
  color: grey;
}

.filled-team {
  display: block;
  width: 100%;
  padding: 5px;
  border: 2px solid #ffd700;
  border-radius: 5px;
  text-align: center;
  color: #ffd700;
}

.team-slot {
  display: block;
  width: 200px;
  padding: 5px;
  border: 2px solid #ffd700;
  border-radius: 5px;
  text-align: center;
  color: #ffd700;
  transition: transform 0.2s;
}

.team-slot:hover {
  cursor: pointer;
  transform: scale(1.1);
}