.emptyTeam {
  display: block;
  width: 100%;
  padding: 5px;
  border: 2px dashed grey;
  border-radius: 5px;
  text-align: center;
  color: grey;
}

.filledTeam {
  display: block;
  width: 100%;
  padding: 5px;
  border: 2px solid #ffd700;
  border-radius: 5px;
  text-align: center;
  color: #ffd700;
}

.teamSlot {
  display: block;
  padding: 5px;
  border: 2px solid #ffd700;
  border-radius: 5px;
  text-align: center;
  color: #ffd700;
  transition: transform 0.2s;
}

.teamSlot:hover {
  cursor: pointer;
  transform: scale(1.1);
}
