@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #0D0D0D, #031321); /* Turquoise gradient */
  color: #FFF; /* Gold text */
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #FFF; /* Text color */
  text-shadow: 
    0 0 4px #FF99FF,   /* Small inner glow */
    0 0 10px #FF99FF,  /* Larger outer glow */
    0 0 15px #FF66FF,  /* Even larger glow */
    0 0 20px #FF33CC,  /* Farther glow for depth */
    0 0 25px #FF00AA;  /* Farthest glow for intensity */
  font-family: 'Tilt Neon', serif;
  text-align: center;
  margin-bottom: 3rem;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.actions {
  display: flex;
  gap: 20px;
}

#name-input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid #FFF; /* White border */
  color: #FFF; /* White text */
  background: transparent; /* Transparent background */
  outline: none; /* Removes the yellow focus outline */
  background-color: transparent;
  box-shadow: 0 0 8px #33FFFF, 0 0 16px #33FFFF; /* Neon stroke */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

#name-input:focus {
  border-color: #33FFFF; /* Change border to match stroke on focus */
  box-shadow: 0 0 12px #33FFFF, 0 0 24px #33FFFF; /* Stronger glow on focus */
}


#name-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#submit-name-button {
  font-size: 1.4rem;
  width: fit-content;
  margin: auto;
  text-shadow: 
    0 0 4px #FF99FF,   /* Small inner glow */
    0 0 5px #FF99FF,  /* Larger outer glow */
    0 0 10px #FF66FF,  /* Even larger glow */
    0 0 12.5px #FF33CC,  /* Farther glow for depth */
    0 0 15px #FF00AA;  /* Farthest glow for intensity */
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  transition: all 0.3s ease;
  background-color: transparent;
  box-shadow: none;
}

#submit-name-button:hover {
  transform: scale(1.2);
  text-shadow: 
    0 0 4px #FF99FF,   /* Small inner glow */
    0 0 10px #FF99FF,  /* Larger outer glow */
    0 0 15px #FF66FF,  /* Even larger glow */
    0 0 20px #FF33CC,  /* Farther glow for depth */
    0 0 25px #FF00AA;  /* Farthest glow for intensity */
}
